@font-face {
  font-family: 'Gruppo';
  src: url('../../asset/fonts/Gruppo-fonts/Gruppo-Regular.ttf')
    format('TrueType');

  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../asset/fonts/montserrat-fonts/Montserrat-Light.ttf')
    format('TrueType');

  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../asset/fonts/montserrat-fonts/Montserrat-Regular.ttf')
    format('TrueType');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../asset/fonts/montserrat-fonts/Montserrat-Medium.ttf')
    format('TrueType');

  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../asset/fonts/montserrat-fonts/Montserrat-SemiBold.ttf')
    format('TrueType');

  font-weight: 600;
  font-style: bold;
}
